@import "../variables";

.hero-container {
  background-color: $background-card;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction:column-reverse;
    gap: 20px;
    align-items: center;
    padding: 20px;
  }
}