@import "../variables";

.modal {
  --bs-modal-width: 100%;
}

.modal-dialog {
  width: 90%;
}

.popUp-button {
  border: none;
  border-bottom: 1px solid gray;
  background-color: $background-upcomingEvents;
  text-align: start;
  padding: 0;
  padding-bottom: 10px;
  margin-bottom: 10px;
  transition: all 0.4s;
  &:hover {
    text-decoration: underline;
    letter-spacing: 1px;
  }
}
.popUp-button-third {
  border: none;
  background-color: $background-upcomingEvents;
  text-align: start;
  padding: 0;
  padding-bottom: 10px;
}

.close {
  background-color: $background-green;
  opacity: 100%;
  color: $background-upcomingEvents;
  margin: 10px 10px 0 0 ;
  padding: 0px 5px 2px 5px;
  border-radius: 2px;
  border: none;
  transition: all 0.4s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  &:hover {
    color: white;
  }
}

.modal.show .modal-dialog {
  .modal-content {
    display: flex;
    align-items: flex-end;
    .btn-close {
      background-color: #336644;
      opacity: 1;
      margin: 10px 10px 0px 0px;
    }
    div {
      display: flex;
      justify-content: center;
      align-items: start;
      .event-container {
        background-color: $background-card;
        width: 90%;
        margin: 20px 0 54px;
        img {
          width: 35%;
          object-fit:scale-down;
          margin: 40px 0 40px 40px;
        }
        .text-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding: 40px;
          p {
            width: 80%;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
 
  .text-container {
    p {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  
  .modal.show .modal-dialog {
    .modal-content {
      div {
        .event-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          img {
            width: 50%;
            margin: 40px 0 0 0 ;
          }
          .text-container {
            p {
              width: 100%;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
  
  .event-container {
    img {
      margin-top: 40px;
    }
  }
  .text-container {
    padding-bottom: 0px;
  }
}
@media (max-width: 320px) {
  
  .modal.show .modal-dialog {
    .modal-content {
      div {
        .event-container {
          img {
            margin-top: 40px;
            width: 100%;
          }
        }
      }
    }
  }
}
