@import "../variables";
.popUp-button {
  border: none;
  border-bottom: 1px solid gray;
  background-color: $background-upcomingEvents;
  text-align: start;
  padding: 0;
  padding-bottom: 10px;
}
.popUp-button-third {
  border: none;
  background-color: $background-upcomingEvents;
  text-align: start;
  padding: 0;
  padding-bottom: 10px;
}

.modal.show .modal-dialog {
  .modal-content {
    display: flex;
    align-items: flex-end;
    .btn-close {
      background-color: #336644;
      opacity: 1;
      margin: 10px 10px 0px 0px;
    }
    div {
      display: flex;
      justify-content: center;
      .event-container {
        background-color: $background-card;
        width: 90%;
        height: 30em;
        margin: 20px 0 54px;
        .text-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding: 40px;
          p {
            width: 80%;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .text-container {
    p {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .modal.show .modal-dialog {
    .modal-content {
      div {
        .event-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 45em;
          img {
            width: 17rem;
          }
          .text-container {
            p {
              width: 100%;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .event-container {
    img {
      margin-top: 56px;
    }
  }
  .text-container {
    padding-bottom: 0px;
  }
}
