@import "../variables";
.image-slider {
  width: 100%;
  height: 365px;
  object-fit: cover;
  object-position: inherit;
}
.image-slider-3 {
  width: 100%;
  height: 365px;
  object-fit: cover;
  object-position: top;
}
.control-button {
  background-color: $background-green;
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
@media (min-width: 1471px) and (max-width: 2560px) {
  .image-slider {
    height: 460px;
  }
  .image-slider-3 {
    height: 460px;
  }
}
@media (max-width: 1024px) {
  .control-button {
    height: 4rem;
    width: 4rem;
  }
  .image-slider {
    height: 269px;
  }
  .image-slider-3 {
    height: 269px;
  }
}
@media (max-width: 768px) {
  .image-slider {
    object-position: center;
  }
  .image-slider {
    height: 305px;
  }
  .image-slider-3 {
    height: 305px;
  }
}
@media (max-width: 425px) {
  .control-button {
    height: 3rem;
    width: 3rem;
  }
}
@media (max-width: 320px) {
  .control-button {
    height: 2.5rem;
    width: 2.5rem;
  }
}
