@import "../variables";

aside {
  background-color: #ddbb44;
  font-family: $font-text;
  width: 30%;
  padding: 20px;
  .event-container {
    display: flex;
    flex-direction: column;
    width: 90%;

    
    h2 {
      color: $text-red;
      margin-top: 10px;
      margin-bottom: 10px;
      a {
        color: $background-green;
        text-decoration: none;
      }
    }
    span {
      font-size: 15px;
      font-style: italic;
    }
  }
}
@media (max-width: 768px) {
  aside{
    width: 90%;
    .event-container {

      h2 {
        font-size: 1rem;
      }
      span {
        font-size: 1rem;
      }
    }
  }
}
.modal-content{
background-color: black;
}