@import "../variables";
.welcome-container {
  position: relative;
  font-family: $font-text;
  width: 64%;
  display: flex;
  background-color: white;
  img {
    width: 20rem;
    height: 100%;
    object-fit: cover;
  }
  div {
    width: 95%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    h2 {
      color: $text-red;
      margin-left: 10px;
    }
    p {
      font-size: 15px;
      width: 94%;
      margin-left: 10px;
    }
    div {
      width: 94%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 30px;

      button {
        border-radius: 5px;
        border: none;
        background-color: $background-green;
        color: $background-text;
        padding: 5px 15px;
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .welcome-container {
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      aspect-ratio: 1/0.5;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  .welcome-container {
    width: 90%;
    img {
      width: 100%;
      aspect-ratio: 1/0.5;
    }
  }
}
