@import "../variables";
.card{
    border-radius: 0%;
    border-style: none;

    margin-bottom: 2em;
    }
    .card-text{
      margin: 0%;
      font-style: italic;
    }
    .card-body{
      background-color: $background-card;
    }
    #containerBtn{
    display: flex;
    justify-content: end;
    }
    #Btn-see{
      background-color: $background-green;
      width: 160px;
      border-style: solid;
    border-color: $background-green;
    color: $background-upcomingEvents;
    transition: all 0.4s;
    }
    #Btn-see:hover{
      background-color: white;
      color: $background-green;
    }